* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #555354;
  font: size 14px;
}

.container {
  width: 80%;
  margin: 50px auto;
  height: 100vh;
}
.container h1 {
  color: #fff;
  letter-spacing: 2px;
}
.container p {
  color: #fff;
}
.contact-box {
  background: #fff;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #222;
  color: #fff;
}
h1 {
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 40px;
  color: #fff;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
.container p {
  font-weight: 700;
}
label {
  margin-bottom: 6px;
  display: block;
  color: darkred;
}
button {
  background: darkred;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact-left h3 {
  color: rgb(68, 8, 8);
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    height: auto !important;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container h1 {
    justify-content: center;
    align-items: center;
  }
  .container p {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-box {
    width: 100%;
    flex-direction: column;
    height: auto !important;
  }
  .contact-right {
    height: auto !important;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact-right h3 {
    text-align: center;
  }
  .contact-left {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .contact-left h3 {
    text-align: center;
  }
  .input-row {
    width: 100%;
    height: auto !important;
    display: flex;
    flex-direction: column;
    padding: auto;
  }
  .container6 {
    width: 100% !important;
    flex-direction: column;
    height: auto !important;
  }
  .footer-div {
    height: auto;
    flex-direction: column !important;
  }
  .divv {
    height: auto !important;
    width: 100% !important;
    flex-direction: column;
  }
  .logo {
    align-items: center;
  }
  .cpr {
    height: auto !important;
    width: 100% !important;
  }
}
